<p>aminlogin works!</p>
<p>login works!</p>
<form name="frmLogin">
    <table align="center">
        <tr>
            <td>
                <label>Username</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text"  [(ngModel)]="admindata.username" class="form-control" name="username" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" [(ngModel)]="admindata.password" class="form-control" name="password" />
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="admin()" >Login</button>
                </td>
                </tr>
           

                <p>
                    {{result}}
                </p>