
<!-- <ul class="navbar nav">
    <li class="nav item">
<a class="nav-link" routerLink="/homepage/login"  routerLinkActive="active-link" >login</a>
    </li> -->
    <h1> Bonanza Loans</h1>
  <section>
    <div class="container" style="font:bold;">
      <header style="background-color:lightblue;color:black; height: 50px;font-weight: bold;">
     <table style="width:100%;text-align: center;">
       <th>
        <a routerLinkActive="active" 
         routerLink="/Home"><b>Home</b></a> 
        </th>
        <th>
      <a routerLinkActive="active" 
        routerLink="/geteligiblity"><b>Apply Loan</b></a> 
      </th>
      <th>
      <a routerLinkActive="active" 
         routerLink="/emi"><b>Emi Calculator</b></a> 
        </th>
        <th>
      <a routerLinkActive="active" 
        routerLink="/contactus">Contact Us</a> 
      </th>
      <th>
      <a routerLinkActive="active" 
        routerLink="/aboutus">About Us</a>  
      </th>
      <th>
      <a routerLinkActive="active" 
        routerLink="/login">Log In</a>
      </th>
      </table> 
      </header>
      <router-outlet></router-outlet>
      <!-- <img src="assets/images/car.png" alt="Loan" style="width:1335px;height:600px;"> -->
    </div>
   
  </section>
  
  
 
    <!-- <button (click)="abc()">Login</button>
    <div *ngIf="login" border:solid>
<button (click)="xyz()">Login as User</button>
    </div>
    <div *ngIf="login" border:solid>
      <button (click)="pqr()">Login as Admin</button>
          </div>
    <button (click)="emiCalculate()">Emi Calulator</button>
<button (click)="geteligiblity()">Apply Loan</button> -->
    <!-- <body style="background-color:powderblue;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">LTI</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
               
                <li><a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                
              </ul>
            </div>
          </nav> -->
        
      
 
        
        
        
        
        
         

